.contacto {
    width: 100%;
    background-color: #2C706C;
    padding: 60px 5%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.contacto h2 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #111;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contacto h1 {
    font-size: 34px;
    font-weight: 800;
    color: #000;
    margin-bottom: 50px;
}

.contacto-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Imagen grande en el centro */
.contacto-imagen img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    object-fit: cover;
}.contacto {
    width: 100%;
    background-color: #fff;
    padding: 60px 5%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.contacto h2 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #111;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contacto h1 {
    font-size: 34px;
    font-weight: 800;
    color: #000;
    margin-bottom: 50px;
}

.contacto-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Imagen grande en el centro */
.contacto-imagen img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    object-fit: cover;
}